html,
body {
  margin: 0;
  padding: 0;
  height: auto;
}
a {
  color: white;
}
body {
  background: #191970;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  background-image: linear-gradient(147deg, #923cb5, #000 74%);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
button {
  font-size: 20px;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* mobile first */
#app {
  width: 100%;
  margin: auto;
}

.bird {
  background-image: url("https://cryptologos.cc/logos/ravencoin-rvn-logo.svg?v=013");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 375px 480px;

  background-position: top 60px left 10px;
}

@media only screen and (min-width: 600px) {
  body {
    width: 100%;
    min-height: calc(100vh);
  }
  #app {
    max-width: calc(100vw);
    width: 600px;

    margin: auto;
    margin-top: 30px;
  }
  .bird {
    background-position: top;
    background-size: 640px 680px;
  }
}

.padding-default {
  padding: 22px;
}
.padding-modest {
  padding: 5px;
}
.raven-rebels-ego-wallet__nav {
  list-style: none;
  padding-top: 22px;
}
.raven-rebels-ego-wallet__nav-item {
  display: inline-block;
  margin-right: 22px;
}
.raven-rebels-ego-wallet__nav-item:last-child {
  margin-right: 0;
}
.raven-rebels-ego-wallet__nav-item:last-child {
  float: right;
}
.raven-rebels-ego-wallet__balance {
  margin-bottom: 44px;
  font-size: 1.5rem;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

.unstyled-button {
  border: none;
  background: none;
  color: white;
  cursor: hand;
  font-family: "Quicksand", sans-serif;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
