html, body {
  margin: 0;
  padding: 0;
  height: auto;
}
body {
  background-color: #000;
  background-image: linear-gradient(147deg, #eeee 0%, #eeee 74%);
  font-family: "Quicksand", sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* mobile first */
#app {
  width: calc(100vw - 32px); 
  margin: auto;
  margin-top: 16px;
}
@media only screen and (min-width: 600px) {
  body {
    width: 100%;
    min-height: calc(100vh);
  }
  #app {
   
    max-width: calc(100vw);
    width: 600px;

    margin: auto;
    margin-top: 30px;
  }
}

.padding-default {
  padding: 22px;
}
.raven-rebels-ego-wallet__nav {
  list-style: none;
  padding-top: 22px;
}
.raven-rebels-ego-wallet__nav-item{
  display: inline-block;
  margin-left: 22px;
}
.raven-rebels-ego-wallet__balance{
  margin-bottom: 44px;
  font-size: 1.5rem;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
